@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap);
body {
    margin: 60px auto;
    width: 70%;
    background-color: #440C7E;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#divider {
    margin: 100px 50px 0px 200px;
    height: 570px;
    width: 3px;
    background-color: #C0F1FC;
}
nav {
    margin: 100px 0px 0px 0px;
    width: 600px;
    height: 500px;
   
}
nav ul {
    font-family: 'Frank Ruhl Libre', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav ul li{
    padding: 40px 5px 5px 5px;
    display: inline;
    margin-right: 20px;
}

i {
    padding: 5px 10px 5px 5px;
}
a {
    text-decoration: none;
    color: #E9DCF7;
    font-size:1.5em;
    
    font-family: 'Frank Ruhl Libre', serif;
}
a:hover {
    text-decoration: underline;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
h1 {
    font-size: 6em;
    margin: 125px 0px 0px 0px;
    font-family: 'Frank Ruhl Libre', serif;
    color: #C0F1FC;
}
p {
    margin: 20px 0px 0px 0px;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #E9DCF7;
    font-family: 'Frank Ruhl Libre', serif;
}


#climax {
margin: 20px 0px 0px 0px;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #EEE0FC;
    font-family: 'Frank Ruhl Libre', serif;
}



