@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    margin: 60px auto;
    width: 70%;
    background-color: #5300B0;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #EEE0FC;
    font-size:1.5em;
    font-family: 'Frank Ruhl Libre', serif;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 5em;
    font-family: 'Frank Ruhl Libre', serif;
    color: #FFFFFF;
}
p {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #EEE0FC;
    font-family: 'Frank Ruhl Libre', serif;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
