@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap);
@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800&display=swap);

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

 
  .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    
  }

  /* Dropdown */
  .dropdown-content {
      display: none;
  }

  .dropbtn {
      display: none;
  }
  

    .show {
        display:block;
    }


  /* Nav Design */

  #navbar {
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px 0px 0px;
  }

  



  .nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  
  }

  .nav a {
    
    color: white;
    text-align: center;
    padding: 10px 10px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    
  }

  .nav a:hover {
    color: #FAD4F3;
    transition: color 0.7s ease-out;
  }
  
.name {
    margin: 0px 0px 0px 0px;
}
#signature {
    text-decoration: none;
    color: #FAD4F3;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    
    /*opacity:0;  /* make things invisible upon start */
    /*animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    /*animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    /*animation-duration:1s;*/
    /*animation-delay: 0.2s*/
}

.sticky {
    position: fixed;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 20px;
}

  
 

/* Header Design */
#header {
    background-color: black;
    margin: 0;
    display: flex;
    padding: 100px 0px 100px 0px;
    flex-direction: column;
    justify-content: center;
    
}



#header_title {
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 45px;

    padding: 0px 0px 0px 0px;
    margin: 50px 0px 0px 0px;

}

#header_name{
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 110px;
    text-align: center;
    padding: 0px 0px 0px 0px; 
    margin: 20px 0px 0px 0px;

    
}

@keyframes fadeIn { 
    from { opacity:0; } 
    to { opacity:1; } 
}



#header_menu {
    list-style: none;
    text-align: center;
    margin: 70px 0px 70px 0px;
    
}

.header_menu_class {
    font-size: 28px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: #950073;
    padding: 25px 25px 25px 25px;
    
    border-radius: 10px;

}


.header_menu_class:hover {
    color: black;
    background: #FAD4F3;
    transition: background 0.8s ease-out;
    
    padding: 28px 28px 28px 28px;
}


/*About Section */



#about {
    background-color: white;
    display: flex;
    padding: 50px 10px 100px 10px;
    flex-direction: column;
    justify-content: flex-start;

}

.section_title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    
}
.section_para {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.hobbies_row {
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.hobby {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0px 5px 0px 0px;
}

.hobby_icons {
    width: 50px;
    height: 50px;
}

/*Skills */


#skills {
    background-color: #EAE3EA;
    padding: 50px 10px 100px 10px;
    line-height: 50px;
    
}
.skill_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skill {
    padding: 0px 10px 0px 10px;
}
.skill_names {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

/*Projects*/




#projects {
    background-color: white;
    padding: 50px 10px 75px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.project_names {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.current_project {
    margin: 0px 0px 100px 0px;
}
.the_projects, .current_project {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    
   
}
.project {
    padding: 0px 10px 0px 10px;
    width: 15%;


}
.project_images {
    width: 100px;
    height: 100px;
    
    margin: 0px 0px 50px 0px;
}


/*Experience*/
#experience {
    background-color: #EAE3EA ;
    padding: 40px 10px 75px 10px;
}
.job_list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.job {
    margin: 0px 50px 0px 50px;
    text-align: center;
    width: 50%;
}

/*Footer */
footer {
    background-color: white;
    margin: 0;
}
.footer_para {
    text-align: center;
    padding: 30px 10px 30px 10px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.footer_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_icons {
    margin: 0px 50px 0px 0px;
    width: 50px;
    height: 50px;
    opacity: 1;
}



#linkedin:hover, #github:hover, #email:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-out;
}


/* Media queries for Responsive Design */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .project{
        width: 100%;
    }
    .dropbtn {
        display: block;
        margin: 2px 0px 0px 0px;
        color:  #FAD4F3;
        font-size: 35px; 
        background-color:black;
        border: none;
    }
    .dropdown-content {
        margin: 0px 0px 10px 0px;
    }
    
    .dropdown-content a{
        display: flex;
        flex-direction: column;
        color: black;
        line-height: 7px;
        font-size: 13px;
        text-align: left;
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        background-color: white ;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
   
    .nav {
        display: none;
    }
    
    #header_menu {
        margin: 70px 0px 70px 0px;
        
    }
    
    .header_menu_class {
        font-size: 20px;

    }

    #header_title {
        font-size: 35px;
    
    
    }
    
    #header_name{
        color: white;
        font-family: 'Work Sans', sans-serif;
        text-transform: uppercase;
        font-size: 90px;
        text-align: center;
        padding: 0px 0px 0px 0px; 
        margin: 20px 0px 0px 0px;
    
        
    }

    #signature {
        font-size: 35px;
        
        /*opacity:0;  /* make things invisible upon start */
        /*animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        /*animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        /*animation-duration:1s;*/
        /*animation-delay: 0.2s*/
    }

    
      #navbar {
          justify-content: space-around;
      }

    .job {
        width: 80%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .dropdown {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .dropdown {
        display: none;
    }
    .project {
      
        width: 50%;
    
    
    }
}

@media only screen and (min-width: 700px) {
    .dropdown {
        display: none;
    }
    .project {
      
        width: 25%;
    
    
    }
}

@media only screen and (max-width: 700px) {
    .dropdown {
        display: none;
    }
    .project {
      
        width: 60%;
    
    
    }
}