@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap);
@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800&display=swap);

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    
  }

 
  .content {
      display: flex;
      flex-direction: column;
    
  }
  /* Nav Design */

  #navbar {
    overflow: hidden;
    background-color: black;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

  .nav {
    margin: 20px 0px 0px 500px;
    
  }
  .nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 0.2s
  }

  .nav a {
    margin: 50px 0px 0px 0px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    
  }

  .nav a:hover {
    color: white;
    background-color:#950073;
    border-radius: 10px;
  }
  

#signature {

    text-decoration: none;
    color: #FAD4F3;
    font-family: 'Kaushan Script', cursive;
    margin: 10px 0px 20px 50px;
    font-size: 40px;
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-duration:1s;
    animation-delay: 0.2s
}

.sticky {
    position: fixed;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

  
 

/* Header Design */
#header {
    background-color: black;
    margin: 0;
    display: flex;
    padding: 100px 0px 100px 0px;
    flex-direction: column;
    justify-content: flex-start;
    
}

header {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-duration:1s;
    animation-delay: 0.2s;
}

#header_title {
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 45px;

    padding: 0px 0px 0px 0px;
    margin: 50px 0px 0px 0px;

}

#header_name{
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 110px;
    text-align: center;
    padding: 0px 0px 0px 0px; 
    margin: 20px;

    
}

@keyframes fadeIn { 
    from { opacity:0; } 
    to { opacity:1; } 
}



#header_menu {
    list-style: none;
    text-align: center;
    margin: 70px 0px 70px 0px;
    
}

.header_menu_class {
    font-size: 28px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: #950073;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;

}


.header_menu_class:hover {
    color: black;
    background: #FAD4F3;
    padding: 28px 28px 28px 28px;
}


/*About Section */



#about {
    background-color: white;
    margin: 0;
    display: flex;
    padding: 50px 0px 100px 0px;
    flex-direction: column;
    justify-content: flex-start;

}

.section_title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    
}
.section_para {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.hobbies_row {
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    
}

.hobby {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.hobby_icons {
    width: 50px;
    height: 50px;
}

/*Skills */


#skills {
    background-color: #EAE3EA;
    margin: 0;
    padding: 50px 0px 100px 0px;
    line-height: 50px;
    
}

/*Projects*/




#projects {
    background-color: white;
    margin: 0;
    padding: 50px 0px 75px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project_names {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.the_projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.project_images {
    width: 300px;
    height: 300px;
    margin: 0px 0px 50px 0px;
}


/*Experience*/
#experience {
    background-color: #EAE3EA ;
    margin: 0;
    padding: 40px 0px 75px 0px;
}
.job_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.job {
    margin: 0px 50px 0px 50px;
    text-align: center;
}

/*Footer */
footer {
    background-color: white;
    margin: 0;
}
.footer_para {
    text-align: center;
    padding: 30px 0px 30px 0px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.footer_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_icons {
    margin: 0px 50px 0px 50px;
    width: 50px;
    height: 50px;
    opacity: 2;
}



#linkedin:hover, #github:hover, #email:hover {
    opacity: 0.7;
}

  