@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap);
@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:900&display=swap);

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }

  /* Nav Design */

  .topnav {
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .topnav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .nav a {
    margin: 50px 0px 0px 0px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    
  }

  .topnav a:hover {
    background-color: #FAD4F3;
    color: black;
  }
  
  .topnav a.active {
    background-color: #950073;;
    color: white;
  }

.topnav .name {

    text-decoration: none;
    color: #FAD4F3;
    font-family: 'Kaushan Script', cursive;
    margin: 10px 0px 20px 40px;
    font-size: 40px;
}


  
 

/* Header Design */
#header {
    background-color: black;
    margin: 0;
    display: flex;
    padding: 100px 0px 100px 0px;
    flex-direction: column;
    justify-content: flex-start;
}

#header_title {
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 45px;

    padding: 0px 0px 0px 0px;
    margin: 50px 0px 0px 0px;
}

#header_name{
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 110px;
    text-align: center;
    padding: 0px 0px 0px 0px;
 
    margin: 20px;
}
#header_menu {
    list-style: none;
    text-align: center;
    margin: 70px 0px 0px 0px;
    
}

.header_menu_class {
    font-size: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #950073;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
}


.header_menu_class:hover {
    color: black;
    background: #FAD4F3;
}
/*About Section */



#about {
    background-color: white;
    margin: 0;
    display: flex;
    padding: 20px 0px 100px 0px;
    flex-direction: column;
    justify-content: flex-start;
}

.section_title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    
}
.section_para {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.hobbies_row {
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    
}

.hobby {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.hobby_icons {
    width: 50px;
    height: 50px;
}

/*Skills */


#skills {
    background-color: #EAE3EA;
    margin: 0;
    padding: 50px 0px 100px 0px;
    line-height: 50px;
}

/*Projects*/




#projects {
    background-color: white;
    margin: 0;
    padding: 50px 0px 75px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project_names {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.the_projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.project_images {
    width: 300px;
    height: 300px;
    margin: 0px 0px 50px 0px;
}


/*Experience*/
#experience {
    background-color: #EAE3EA ;
    margin: 0;
    padding: 0px 0px 75px 0px;
}
.job_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.job {
    margin: 0px 50px 0px 50px;
    text-align: center;
}

/*Footer */
footer {
    background-color: white;
    margin: 0;
}
.footer_para {
    text-align: center;
    padding: 30px 0px 30px 0px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.footer_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_icons {
    margin: 0px 50px 0px 50px;
    width: 50px;
    height: 50px;
}


  