<!DOCTYPE html>
	<html lang="en-US">
		<head>
			<title>{{ page.title }}</title>
			<script src="https://kit.fontawesome.com/a65c34d223.js" crossorigin="anonymous"></script>
			<meta charset="UTF-8">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
		</head>
		<body>
			<div class="bio">
				<h1>Khubi Shah</h1>
				<p>Hello there, nice to meet you! My name is Khubi, and I'm currently a 2B honours computer science student at the University of Waterloo.</p>
				<p>In my free time, I enjoy tinkering around with new technologies and tools to build little projects for both my personal enrichment, and for solving whatever little everyday problems that I can (feel free to check them out on my GitHub!).</p>
				<p>I am currently working on a data visualizer tool that helps visualize all sorts of UN and UNICEF world statistics using my knowledge of D3.JS.</p>
				<p>When I'm not working on anything techie, some of my favorite things to do are playing the piano, hitting the gym, and playing a game of badminton with friends!</p>
				<p>Currently seeking Summer 2020 internships! Previously <a id="climax" href="https://climaxmedia.com/">@ClimaxMedia</a>.</p>
			</div>
			<div id="divider"></div>
			<nav>
	    		<ul>
	        		<li><a href=""><i class="far fa-file"></i>Resume</a></li>
		        	<li><a href="https://ca.linkedin.com/in/khubi-shah"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
	        		<li><a href="https://github.com/khubishah"><i class="fab fa-github"></i>GitHub</a></li>
	        		<li><a href=""><i class="fas fa-briefcase"></i>Experience</a></li>
					<li><a href=""><i class="fas fa-project-diagram"></i>Projects</a></li>
					<li><a href="mailto:khubi.shah@outlook.com"><i class="far fa-envelope"></i>Contact</a></li>
	    		</ul>
			</nav>
			
			
		
		</body>
	</html>
	


