<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<script src="https://kit.fontawesome.com/a65c34d223.js" crossorigin="anonymous"></script>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href=""><i class="far fa-file"></i>Resume</a></li>
		        	<li><a href="https://ca.linkedin.com/in/khubi-shah"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
	        		<li><a href="https://github.com/khubishah"><i class="fab fa-github"></i>GitHub</a></li>
	        		<li><a href=""><i class="fas fa-briefcase"></i>Experience</a></li>
					<li><a href=""><i class="fas fa-project-diagram"></i>Projects</a></li>
					<li><a href="mailto:khubi.shah@outlook.com"><i class="far fa-envelope"></i>Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
	


